<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <bean  id="employee1"  class="com.example.codeEmbed.DependencyInjection.Employee">
<!--        <property name="name" value="Rayhan Khan"> </property>-->
<!--        <property name="id" value="1001"> </property>-->
<!--        <property name="salary" value="1000000.00"> </property>-->
<!--        <property name="country" value="Bangladesh"> </property>-->
<!--        <property name="company" ref="company1"> </property>-->

<!--        <constructor-arg index="0" value="Rayhan khan"> </constructor-arg>-->
<!--        <constructor-arg index="1" value="2001"> </constructor-arg>-->
<!--        <constructor-arg index="2" value="200000"> </constructor-arg>-->
<!--        <constructor-arg index="3" value="Bangladesh"> </constructor-arg>-->
<!--        <constructor-arg index="4" ref="company1"> </constructor-arg>-->
    </bean>

    <bean id="company1" class="com.example.codeEmbed.DependencyInjection.Company">
<!--        <property name="branch" value="Berlin"> </property>-->
<!--        <property name="branchId" value="202134"> </property>-->
        <constructor-arg index="0" value="Munich"> </constructor-arg>
        <constructor-arg index="1" value="5463454"> </constructor-arg>
    </bean>

</beans>