<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home page</title>
</head>
<body>
<h1>Employee data </h1>

<form action="employeeData" method="POST">
    <h3>Enter name</h3>
    <input type="text" name="EmpName"></input>
    <h3>Enter ID</h3>
    <input type="text" name="EmpID"></input>
    <h3>Enter Salary</h3>
    <input type="text" name="EmpSalary"></input>
    <h3>Enter Country</h3>
    <input type="text" name="EmpCountry"></input>

    <button type="submit">Submit</button>

</form>
</body>
</html>